- if logged_in?
  %table
    %tr
      %th Title
      %th Due Date

    - current_user.tasks.each do |task|
      %tr
        %td= task.title
        %td= task.due_date.to_s(:long)
- else
  %h3 Please login to get your tasks!